@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);

}

body {
    background-color: #000000;

}

.header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);

}


.nav-section {
    margin: 0 10%;
    padding: 3.5rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
}

.nav-bar {
    display: flex;
    gap: 3rem;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    align-items: center;
}

.nav-items {
    padding: .5rem 1rem;
}

.item {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

#home {
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    font-weight: 600;
}
.bars{
    display: none;
}

.banner-container {
    display: none;
    margin-left: 10%;
    margin-right: 13%;
   

}

.banner-content {
    margin-top: 6rem;
}


.banner-title {
    width: 60%;
    font-size: 4rem;
    font-weight: 900;
    line-height: 110%;
}

.banner-title>#shape {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 8rem;

}

.banner-description {
    width: 55%;
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.btn-content {
    display: flex;
    gap: .8rem;
}

.btn {
    height: 50px;
    width: 220px;
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 1rem;
}

#btn-secondary {
    background: transparent;
    border: 1px solid #ffffff;
}

.card {
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 545px;
    left: 53%;
    z-index: 1;
    
   
}

.card-1 {
    position: absolute;
    top: 260px;
    left: 78%;
    z-index: 1;
    
}

.img-btn-1 {
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    text-align: left;
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}
.img-btn-2 {
   
    border: none;
    background: transparent;
    text-align: left;
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}
.img{
    
   position:absolute;
   left: 61%;

}

#btn-text {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

#btn-text-2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.icon {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}