@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);

}

body {
    background-color: #000000;

}

body p,
td,
input::placeholder,
select {
    color: rgba(255, 255, 255, 0.5);
}

/*header section design */

.header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);

}

.nav-section {
    margin: 0 10%;
    padding: 3.5rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
}

.nav-bar {
    display: flex;
    gap: 3rem;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    align-items: center;
}

.nav-items {
    padding: .5rem 1rem;
}

.item {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

#home {
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    font-weight: 600;
}

.bars {
    display: none;
    cursor: pointer;
}

.banner-container {
    display: flex;
    margin-left: 10%;
    margin-right: 13%;
    justify-content: space-between;

}

.banner-content {
    margin-top: 6rem;
}


.banner-title {
    max-width: 60%;
    font-size: 4rem;
    font-weight: 900;
    line-height: 110%;
}

.banner-title>#shape {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 8rem;

}

.banner-description {
    max-width: 70%;
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.btn-content {
    margin-top: 50px;
    display: flex;
    gap: .8rem;
}

.btn {
    height: 50px;
    width: 220px;
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

#btn-secondary {
    background: transparent;
    border: 1px solid #ffffff;
}

.image-content {
    display: flex;
    position: relative;
}

.img-card-1 {
    width: 206px;
    height: 96px;
    position: absolute;
    top: 72%;
    right: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.24);
    
}

.img-card-1>.icon {
    height: 40px;
    width: 40px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
}

.img-card-1>.play {
    height: 30px;
    width: 30px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    padding: 5px 10px;
    display: none;
}


.img-btn-1 {
    border: none;
    background: transparent;
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    text-align: left;
    cursor: pointer;
}

.img-btn-1>#card-1 {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
}

.img-card-2 {
    width: 193px;
    height: 98px;
    position: absolute;
    top: 22%;
    left: 70%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    
}

.img-card-2>.img-btn-2 {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 1px;
    text-align: left;
    padding: 17px 20px;
    cursor: pointer;
}

.img-card-2>.img-btn-2>#card-2 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.5rem;
    letter-spacing: 1px;
}

/*header section ends*/

/* main section styles */

/* change habit section styles */
.change-habits {
    max-width: 80%;
    margin: 0 auto;
}

.habits-content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0 3rem 0;
}

.habits-content-title {
    font-size: 3rem;
    font-weight: 900;
}

.habits-content-description {
    max-width: 60%;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: 14px;
    text-align: center;
}

.habits-img-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.habits-img-content div {
    text-align: center;
}

.habit-img {
    border-radius: 50%;
}

.habit-img-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 30px;
}

.habit-img-description {
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .3px;
    margin-top: 6px;
    max-width: 90%;
}

/* run extra section styles */
.run-extra {

    margin: 6rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 3%;

}

.run-extra-text{

    width: 50%;
}
.run-extra-img{
    width: 40%;
}

.run-extra-title {

    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}

.run-extra-description {
    width: 100%;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 32px;
}

.run-extra-img img {
    width: 100%;
    height: 315px;
    border-radius: 18px;
    object-fit: cover;
}

/* BMI Calculator section */
.BMI-calculator{
    margin: 0 25%;
}

.BMI-calc-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}

.BMI-calc-description {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 14px;
}

/* BMI chart section styles */
.BMI-chart {
    background: rgb(34, 34, 34);
    padding: 50px 0px;
    margin: 6% 0;
}

.BMI-chart-content {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.table-container,
.form-container {
    width: 48%;
}

.table-title {
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 50px;
}

.table {
    border-collapse: collapse;
}

th,
td {
    width: 55%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
    text-align: left;
}

th {
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
}

td {
    font-size: .8rem;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
}
.form-title{
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}

.form-description {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 14px;
    margin-bottom: 28px;
}

.form {
    width: 100%;
    margin-bottom: 34px;
    display: grid;
    gap: 12px;

}

.input-container {
    display: flex;
    gap: 12px;
    flex: 1;
}

.form input,
select {
    width: 49%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
}

#activity-factor {
    width: 100%;
}

/* our team section styles */
.our-team {
    margin: 0 10%;
}

.our-team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}

.team-description {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: center;
    width: 60%;
    margin-top: 14px;
}

.team-trainers {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    gap: 20px;
}

.trainer-content {
    position: relative;
}

.trainer-details {
    position: absolute;
    top: 75%;
    left: 5%;
}

.trainer-name {
    font-size: 1rem;
}

.trainer {
    font-size: .8rem;
}

.trainer-pic img {
    width: 100%;
    height: 280px;
    border-radius: 18px;
    object-fit: cover;
}

/* footer styles  */

footer {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 6%;
}

.footer-container {
    padding: 6% 10% 3% 10%;
}
.footer-container hr{
    margin-top: 72px;
    margin-bottom: 36px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between; 
}

.footer-items,
.footer-links {
    width: 45%;
}

#fitness {
    color: rgb(230, 83, 60);
    font-size: 4rem;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
}

.item-description {
    margin-top: 20px;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: left;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.link-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
}

.links {
    list-style: none;
    margin-top: 40px;
}
.link{
    margin-top: 20px;
    cursor: pointer;
}
.link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
}
.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
}